/* Scroll state queries: react to scroll direction */

html {
  container-type: scroll-state;
}

header {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  transition: translate 0.2s;

  @container scroll-state(scrolled: bottom) {
    translate: 0 -100%;
  }

  @container scroll-state(scrolled: top) {
    translate: 0 0;
  }
}
