
@theme {
  --grad-interactive: linear-gradient(135deg, --alpha(var(--color-blue-500) / 40%), --alpha(var(--color-blue-600) / 10%) 50%);
  --grad-interactive-hovered: linear-gradient(135deg, --alpha(var(--color-yellow-400) / 50%), --alpha(var(--color-yellow-500) / 20%) 50%);
  --grad-interactive-pressed: linear-gradient(135deg, --alpha(var(--color-red-600) / 60%), --alpha(var(--color-red-700) / 25%) 50%);
  --grad-disabled: linear-gradient(135deg, --alpha(var(--color-gray-400) / 30%), --alpha(var(--color-gray-500) / 15%) 50%);
  --grad-success: linear-gradient(135deg, --alpha(var(--color-green-500) / 50%), --alpha(var(--color-green-600) / 20%) 50%);
  --grad-error: linear-gradient(135deg, --alpha(var(--color-red-500) / 50%), --alpha(var(--color-red-600) / 20%) 50%);

  --grad-on-interactive: linear-gradient(135deg, var(--color-sky-200), var(--color-sky-300));
  --grad-on-success: linear-gradient(135deg, var(--color-green-900), var(--color-green-950));
  --grad-on-error: linear-gradient(135deg, var(--color-red-900), var(--color-red-950));
  --grad-on-disabled: linear-gradient(135deg, var(--color-gray-400), var(--color-gray-500));
}


@utility bg-grad-* {
  background: --value(--grad-*);
  opacity: --modifier(number);
}

@utility text-grad-* {
  background: --value(--grad-*);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

