:root {
  --gradient-games-background: linear-gradient(135deg, --alpha(var(--color-gray-50) / 50%), var(--color-white));
}
.dark {
  --gradient-games-background: linear-gradient(135deg, var(--color-gray-800), var(--color-black));
}

@theme inline{
--gradient-games-background: var(--gradient-games-background);
/* --gradient-opacity:100% */
}
/* 
 @utility bg-gradient-* {
    background: --value(--gradient-*); 
    opacity: --modifier(fraction,number,[percentage]);  
    
  }
  @utility mask-gradient-* {
    mask-image: linear-gradient(
      oklch(100% 0 0 / --value([percentage])),
      oklch(100% 0 0 / --value([percentage]))
    );
  }

@utility text-gradient-* {
    background: --value(--gradient-*);
    opacity: --modifier(number);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }



@utility shadow-gradient-* {
  --shadow-gradient: --value(--gradient-*);
  box-shadow: 0 4px 16px --alpha(var(--shadow-gradient) / 20%);
}
 */



  