
/* Backface visibility fix for card flipping */
/* .backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  }
  
  .rotate-y-180 {
  transform: rotateY(180deg);
  }
   */

.hadestown {

  --primary: var(--color-red-500);
  --accent: var(--color-orange-500);
  --secondary: var(--color-purple-500);
/* 
  --background: var(--color-orange-100); 
  --foreground: var(--color-purple-900); */
  
}

.dark .hadestown {
  --primary: var(--color-red-500);
  --accent: var(--color-orange-500);
  --secondary: var(--color-purple-500);
  /* --color-background: var(--color-red-500); */
  /* --background: var(--color-orange-100);  */
  /* --foreground: var(--color-purple-900); */
  
  
}
/* Add these styles to fix 3D card flipping */
.perspective-1000 {
  perspective: 1000px;
  }
  
  .preserve-3d {
  transform-style: preserve-3d;
  }
  


  