
.katex span[style*="color:red"]    { --step: var(--color-red-500)  }
.katex span[style*="color:blue"]   { --step: var(--color-blue-500)  }
.katex span[style*="color:green"]  { --step: var(--color-green-500)  }
.katex span[style*="color:yellow"] { --step: var(--color-yellow-500)  }
.katex span[style*="color:purple"] { --step: var(--color-purple-500)  }
.katex span[style*="color:pink"] { --step: var(--color-pink-500)  }
.katex span[style*="color:teal"] { --step: var(--color-teal-500)  }
.katex span[style*="color:indigo"] { --step: var(--color-indigo-500)  }
.katex span[style*="color:gray"] { --step: var(--color-gray-500)  }
.katex span[style*="color:black"] { --step: var(--color-gray-900)  }
.katex span[style*="color:white"] { --step: var(--color-gray-100)  }
.katex span[style*="color:orange"] { --step: var(--color-orange-500)  }

/* em .katex *,strong .katex * */
.alert .katex,
.table-of-contents .katex,
em .katex,
strong .katex{
 
  background: inherit !important;
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;

  
}

.katex svg * {
  color: var(--step) !important;
  /* fill: currentColor !important; */
  /* stroke: currentColor !important; */
}
/* .mop, mord{
  background: inherit !important;
} */

/* Basic KaTeX styles */
.katex {
  font-size: 1.1em;
  text-rendering: auto;
  /* background: linear-gradient(to right, var(--color-background), var(--color-background)) ; */
  background: transparent;
  /* background: linear-gradient(to right, --alpha(var(--color-background) / 100%), --alpha(var(--color-background) /100%)) */
  background-size: 200% 100%;
  background-position: 0% 50%;
  /* display: inline-block; */


  *{
    background: linear-gradient(to right, --alpha(var(--step) / 100%), --alpha(var(--step) / 20%) , --alpha(var(--step) / 40%));
    background-size: 200% 100%;
    background-position: 0% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    /* display: inline-block; */
    &:hover span{
      background-position: 100% 20%;
    }

  }

}


.katex-container {

  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}

/* Fix vertical alignment */
.katex-container .katex {
  vertical-align: middle;
}


/* 
.katex-display .base{
  padding: 0.2rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, --alpha(var(--color-blue-500) / 10%), --alpha(var(--color-red-800) / 10%) ) !important; 
} */