
.topic-list{
    --pill:linear-gradient(to right, var(--color-blue-500), var(--color-pink-400), var(--color-blue-600));
  
    & > li:nth-child(2n){
      --pill:linear-gradient(to right, var(--color-pink-500), var(--color-sky-400), var(--color-pink-600));
    }
    & > li:nth-child(3n){
      --pill:linear-gradient(to right, var(--color-purple-500), var(--color-sky-400), var(--color-purple-600));
    }
    & > li:nth-child(4n){
      --pill:linear-gradient(to right, var(--color-orange-500), var(--color-sky-400), var(--color-orange-600));
    }
    & > li:nth-child(5n){
      --pill:linear-gradient(to right, var(--color-teal-500), var(--color-sky-400), var(--color-teal-600));
    }
    & > li:nth-child(6n){
      --pill:linear-gradient(to right, var(--color-cyan-500), var(--color-sky-400), var(--color-cyan-600));
    }
    & > li:nth-child(7n){
      --pill:linear-gradient(to right, var(--color-indigo-500), var(--color-sky-400), var(--color-indigo-600));
    }
  }