@import "./theme.css";
/* @function --grad-test(--a, --b, --c) {
  result: linear-gradient(180deg, var(--a), var(--b) 45%, var(--c));
}
@function --transparent(--color, --alpha){
  result: oklch(from var(--color) l c h / var(--alpha));
}
:where(html, body) {
  --va: --transparent(oklch(0.58 0.26 29));
  --vb: oklch(82.998% 0.22583 150.529);
  --vc: oklch(64.199% 0.27985 339.316);

  background: --grad-test(var(--va), var(--vb), var(--vc));
  color:--transparent(oklch(0.58 0.26 29),1) ;
}
 */

