@import "katex/dist/katex.min.css";
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
/* @variant hadestown (&:where(.hadestown, .hadestown *)); */

@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  @import "./components/main.css";
  @import "./base/main.css";

  * {
    @apply border-border;
  }
  body {
    /* @apply bg-background text-foreground; */
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-family);
  }
}


/* Basic KaTeX styles */
.katex {
  font-size: 1.1em;
  text-rendering: auto;
}

.katex-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Fix vertical alignment */
.katex-container .katex {
  vertical-align: middle;
}

html {
  transition: color var(--transition-theme),
    background-color var(--transition-theme),
    border-color var(--transition-theme);
}

html[data-theme-transition="true"] * {
  transition: var(--transition-theme);
}

h1 {
  /* font-size: 3.5rem; */
/* 
  & ::first-line {
    line-height: 1.5;
  } */
}

h1 ::first-letter {
  font-family: "Great Vibes", cursive; /* fancy font just for 1st letter */
  font-size: 4.5rem;
  font-weight: normal;
  letter-spacing: 0;
  vertical-align: middle;
}

/* 
.has-tooltip {
  position: relative;
  cursor: help;
}

.has-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
  z-index: 50;
  opacity: 0;
  transform: translateY(0.25rem);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
}

.has-tooltip:hover::after {
  opacity: 1;
  transform: translateY(0);
} */


